<div class="container mt-5 mb-5">
  <button type="button" class="btn-close mb-3 mt-3 d-block" (click)="close()" aria-label="Close"></button>
  <div class="row">
    <!-- Left Column: Form (6 cols) -->
    <div class="col-md-6">
      <form [formGroup]="propertyForm" (ngSubmit)="saveProperty()">
        <div class="mb-2">
          <label>Wht's special?</label>
          <app-text-input formControlName="description" [label]="'Description'"></app-text-input>
        </div>
        <div class="mb-2">
          <label>Address</label>
          <app-text-input formControlName="address" [label]="'Address'"></app-text-input>
        </div>
        <div class="mb-2">
          <label>City</label>
          <app-text-input formControlName="city" [label]="'City'"></app-text-input>
        </div>
        <div class="mb-2">
          <label>Price</label>
          <app-text-input formControlName="price" [label]="'Price'" [type]="'number'"></app-text-input>
        </div>
        <div class="mb-2">
          <label>Bedrooms</label>
          <app-text-input formControlName="bedRooms" [label]="'Bedrooms'" [type]="'number'"></app-text-input>
        </div>
        <div class="mb-2">
          <label>Bathrooms</label>
          <app-text-input formControlName="bathRooms" [label]="'Bathrooms'" [type]="'number'"></app-text-input>
        </div>
        <div class="mb-2">
          <label>Area</label>
          <app-text-input formControlName="area" [label]="'Area (sq ft)'" [type]="'number'"></app-text-input>
        </div>
        <div class="mb-2">
          <label>Is Rental?</label>
          <select class="form-control" formControlName="isRental">
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </div>

        <div class="mb-2">
          <label>Availability?</label>
          <select class="form-control" formControlName="isAvailable">
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
          </select>
        </div>

        <div class="mb-2">
          <label>Property Type</label>
          <select class="form-control" formControlName="typeId">
            <option *ngFor="let type of propertyTypes" [value]="type.id">{{ type.name }}</option>
          </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3" [disabled]="propertyForm.invalid">
          Save Changes
        </button>
      </form>
    </div>

    <div class="col-md-6 d-flex flex-column align-items-center">
      <ngx-gallery [options]="options" [images]="galleryImages"
        style="display: inline-block; margin-bottom: 10px;"></ngx-gallery>

        <div class="d-flex flex-wrap gap-2 mt-2 mb-2">
          <div *ngFor="let img of propertyImages" class="position-relative">
            <img [src]="img.url" class="img-thumbnail" width="80" height="50" alt="Thumb">
            <button type="button" (click)="deleteImage(img.propertyId,img.publicId!)"
            class="btn btn-sm btn-danger position-absolute top-0 end-0 small-delete-btn">
              &times;
            </button>
          </div>
        </div>
        <div class="mb-3">
          <label>Upload Image</label>
          <input type="file" (change)="onFileSelected($event)" accept="image/*" class="form-control">
        </div>

        <div *ngIf="previewImage" class="mb-3">
          <img [src]="previewImage" class="img-thumbnail" alt="Selected Image" width="150" height="150">
        </div>

        <button type="button" class="btn btn-secondary" (click)="uploadImage()" [disabled]="!selectedFile">
          Upload Image
        </button>
    </div>
  </div>
</div>
