.sidebar-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  z-index: 1040;
}

.sidebar-overlay {
  position: fixed;
  top: var(--navbar-height);
  left: 0;
  width: 350px;
  height: 100vh;
  background-color: #f8f9fa;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1050;
}

.sidebar-overlay.open {
  transform: translateX(0);
}


.list-icon{
  cursor: pointer;
  color: rgba(44, 62, 80, 1);
}
